._checkbox {
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 0;

    & ._box {
        position: relative;
        width: 24px;
        height: 24px;
        border: 1px solid $pBorder;
        background-color: $sBG;

        &:hover {
            cursor: pointer;
            & ~ ._label {
                color: $pColor;
            }

            &:after {
                opacity: 0.4;
            }
        }

        &:after {
            transition: 0.3s ease;
            position: absolute;
            content: '';
            width: 14px;
            height: 14px;
            top: 0;
            left: 0;
            margin: 4px;
            background-color: $sColor;
            border: 1px solid $pBorder;
            opacity: 0;
        }

        &._checkbox_active {
            &:after {
                opacity: 1;
            }
        }
    }

    & ._label {
        user-select: none;
        padding-left: 5px;
        color: darken($pColor, 30%);
        transition: 0.3s ease;

        &:hover {
            cursor: default;
            color: $pColor;
        }
    }
}
