$BG: #191919;

$pBG: #191919;
$sBG: #292929;

$pColor: #ffffff;
$sColor: #4285f4;

$pBorder: #000000;
$sBorder: #666666;

$info: #0099cc;
$error: #cc0000;
$warning: #ff8800;
$success: #007e33;

$github: #14191e !default;
$discord: #7289da !default;
$reddit: #fd4500 !default;
$youtube: #ff0000 !default;

$players: (
    1: #4285f4,
    2: #f44343,
    3: #43f443,
    4: #f4d743,
);
